<div class="blog-page">
  <div class="blog-box">
    <!-- blog-post -->
    <div class="blog-post gallery-post">
      <div class="inner-post">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <%= image_tag(asset_path('upload/1.jpg')) %>
            </li>
            <li>
              <%= image_tag(asset_path('upload/3.jpg')) %>
            </li>
          </ul>
        </div>
        <div class="post-content">
          <h2><a href="single-post.html">Gallery Post Example</a></h2>
          <p>A man who works with his hands is a laborer; a man who works with his hands and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist</p>
          <ul class="post-tags">
            <li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>
            <li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post link-post">
      <div class="inner-post">
        <div class="post-content">
          <p>Another Great Post where you can put any link to a specific website</p>
          <a class="link" href="#">http://www.themeforest.net</a>
        </div>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post photo-post">
      <div class="inner-post">
        <%= image_tag(asset_path('upload/2.jpg')) %>
        <a class="zoom" href="upload/2.jpg">+</a>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post video-post">
      <div class="inner-post">
        <!-- youtube -->
        <iframe class="videoembed" src="http://www.youtube.com/embed/agqLEbOFT2A"></iframe>
        <!-- End youtube -->
        <div class="post-content">
          <h2><a href="single-post.html">Self-hosted video or audio post</a></h2>
          <p>What about confusing clutter? Information overload? Doesn't data have to be "boiled down" and "simplified"? These common questions miss the point, for the quantity of detail is an issue completely</p>
          <ul class="post-tags">
            <li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>
            <li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post quote-post">
      <div class="inner-post">
        <div class="post-content">
          <blockquote>
            “What separates design from art is that design is meant to be  functional.”
          </blockquote>
          <span>Cameron Moll</span>
        </div>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post photo-post">
      <div class="inner-post">
        <%= image_tag(asset_path('upload/6.jpg')) %>
        <a class="zoom" href="upload/6.jpg">+</a>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post image-post">
      <div class="inner-post">
        <%= image_tag(asset_path('upload/4.jpg')) %>
        <div class="post-content">
          <h2><a href="single-post.html">Standard post with featured image</a></h2>
          <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
          <ul class="post-tags">
            <li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>
            <li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post gallery-post">
      <div class="inner-post">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <%= image_tag(asset_path('upload/1.jpg')) %>
            </li>
            <li>
              <%= image_tag(asset_path('upload/3.jpg')) %>
            </li>
          </ul>
        </div>
        <div class="post-content">
          <h2><a href="single-post.html">Gallery Post Example</a></h2>
          <p>A man who works with his hands is a laborer; a man who works with his hands and his brain is a craftsman; but a man who works with his hands and his brain and his heart is an artist</p>
          <ul class="post-tags">
            <li><a href="#"><i class="fa fa-heart"></i>163 likes</a></li>
            <li><a href="#"><i class="fa fa-comment"></i>3 comments</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i>Dec 19, 2013</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- blog-post -->
    <div class="blog-post aside-post">
      <div class="inner-post">
        <div class="post-content">
          <h2>Aside Post Format</h2>
          <p>What about confusing clutter? Information overload? Doesn't data have to be "boiled down" and "simplified"? These common questions miss the point, for the quantity of detail is an issue</p>
        </div>
      </div>
    </div>
  </div>
  <a class="blog-page-link" href="#">Older Posts</a>
</div>
